body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(0, 0%, 10%);
    background-color: hsl(0, 0%, 98%);
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-align: left;
}
.header {
    font-family: Georgia, Times New Roman, serif;
    font-weight: 700;
    line-height: 1.3;
    font-size: 60vmin;
    text-align: center;
    margin: 0;
    line-height: 1;
    color: hsl(0, 0%, 10%);
    display: block;
    cursor: default;
}
.header::after {
	content: '.';
	color: #fc0;
	transition: color .2s ease;
}

.vcard label,
a {
	transition: background-color .2s ease, transform .2s ease;
	font-weight: bold;
	color: white;
	padding: .2em .5em;
	text-decoration: none;
}
.vcard label,
a:visited {
	color: hsl(280, 100%, 50%);
}
.vcard label,
a { position: relative;  }

.vcard label::after,
.vcard label::before,
a::after,
a::before {
	content: '';
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: transform .1s ease;
	transform: scaleY(1);
	transform-origin: top;
}
.vcard label::after,
a::after {
	z-index: -2;
	background: hsl(0, 0%, 10%);
}
.vcard label::before,
a::before { background: #fc0; transform: scaleY(0); }
.vcard label:hover::before,
a:hover::before { transform: scaleY(1); }
/*
a:hover::before {
	animation: bounce .2s ease both;
	transform-origin: center;
}*/


.vcard label:hover,
a:focus,
a:hover {
	text-decoration: none;
	cursor: pointer;
	outline: none;
}
body {
    padding: 0.6em;
    margin: 0
}
main > * { margin-bottom: 3em; }

#vcard {
	opacity: 0;
	position: absolute;
}
.overlay {
	transform: translateY(-100%);
	display: flex;

	position: absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index: 999;
	background: rgba(255, 255, 255, .8);
}
#vcard:checked + main .overlay {
	transform: translateY(0);
	transition: .2s ease transform;
	cursor: pointer;
}
.overlay img {
	width: auto;
	height: auto;
	min-height: 80%;
	min-width: 80%;
	min-height: 80vmin;
	min-width: 80vmin;

	margin: auto;
}
#vcard:checked + main img {
	background-image: url('../img/vcard.svg');
	background-size: cover;
}
#vcard:checked + main  .overlay::before {
	content: '×';
	position: absolute;
	top: 0;
	right: 0;
	opacity: 1;
	z-index: 2;
	font-size: 4em;
	padding: .5em;
	line-height: 1;
	font-weight: bold;
}
.contact {
	font-size: 1.5em;
	margin: -1em 0 1em -.3em;
	display: inline-block;
	overflow: hidden;
}
.contact > * {
	margin-top: .3em;
	margin-left: .3em;
	display: inline-block;
	float: left;
}
.vcard {
	font-size: 1.5em;
	}

.portfolio a {
	display: inline-block;
	margin-top: .3em;
}

.skills li { display: inline-block; }
.skills li:first-child::before,
.skills li:after { content: '❤'; margin: 0 .5rem; font-size: .5em; line-height: 2; vertical-align: middle; }

@media screen and (min-width: 600px) {
	body {
		text-align: center;
	}
	.contact > * {
		float: none;
	}
	.vcard {
		font-size: 1rem;
	}
}