@keyframes bounce {
	20% { transform: scale(1) translateY(0); }
	40% { transform: scale(1.2, .8) translateY(10px); }
	50% { transform: scale(.8, 1.2) translateY(0); }
	80% { transform: scale(1, 1) translateY(-100px); }
	99%, 100% { transform: scale(1.2, .8) translateY(-150px); }
}

body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(0, 0%, 10%);
    background-color: hsl(0, 0%, 98%);
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-align: left;
    padding: 0.6em;
    margin: 0;
    cursor: default;
}

.intro {
	font-size: 1.5em;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 5em;
	/*reduces nervousness of the ball*/
	position: relative;
	z-index: 1;
}
.header {
    font-family: Georgia, Times New Roman, serif;
    font-weight: 700;
    line-height: 1.3;
    font-size: 60vmin;
    text-align: left;
    margin: 0;
    line-height: 1;
    color: hsl(0, 0%, 10%);
    display: block;
    cursor: default;
    text-indent: -7px;
}
.header::after {
	content: '';
	border-radius: 100%;
	width: .18em;
	height: .18em;
	background-color: #fc0;
	transition: background-color .2s ease;
	display: inline-block;
	transform-origin: center;
}
.header:hover::after {
	background-color: hsl(280, 100%, 50%);
	animation: bounce .5s both alternate linear infinite;
}

.vcardContainer.is-open {
	opacity: 1;
	transform: translate(50%, -50%) scale(1);
}
.vcardContainer.was-open {
	transition: opacity 0.2s ease, transform .2s ease;
}

.vcardContainer {
	opacity: 0;
	background: #000;
	text-align: center;
	padding: 1em;
	position: fixed;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%) scale(0);
	z-index: 999;
}
.vcardContainer .btn {
	position: absolute;
	top: -1em;
	right: -1em;
	width: 1.7em;
	height: 1.7em;
	line-height: 1;
	margin: 0;
}
.vcardContainer img {
	margin-bottom: 1em;
}
.vcardContainer a {
	display: block;
	margin: auto;
}
.vcardContainer a::after,
.vcardContainer a::before {
	background: transparent;
}




nav {
	margin-top: -.5em;
}
button.btn {
	background: transparent;
	border: none;
	line-height: inherit;
}
.btn,
a {
	font-weight: bold;
	color: white;
	font-size: 1.5em;
	padding: .2em .5em;
	margin-top: .5em;
	display: inline-block;
	text-decoration: none;
	position: relative;
	transition: color .5s ease;
}

a:visited {
	color: hsl(280, 100%, 50%);
}
.btn::after,
.btn::before,
a::after,
a::before {
	content: '';
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	transition: transform .1s ease;
	transform: scaleY(1);
	transform-origin: top;
}
.btn::after,
a::after {
	z-index: -2;
	background: hsl(0, 0%, 10%);
}
.btn::before,
a::before { background: #fc0; transform: scaleY(0); }

.btn:hover::before,
.btn:focus::before,

a:hover::before,
a:focus::before { transform: scaleY(1); }

.btn:focus,
.btn:hover,
a:focus,
a:hover {
	text-decoration: none;
	cursor: pointer;
	outline: none;
}

.skills ul { list-style: none; margin: 0; padding: 0; }
.skills li { display: inline-block; white-space: nowrap; }
.skills li::before { content: 'â¤'; margin: 0 .5rem; font-size: .5em; line-height: 2; vertical-align: middle; }


@media screen and (min-width: 600px) {
	body {
		text-align: center;
	}
	.header {
		text-align: center;
		text-indent: 0;
		margin-top: 0.1em;
	}
	.intro {
		width: 60%;
		max-width: 42em;
		margin-top: -1em;
		margin-bottom: 9em;
	}
	.portfolio,
	.skills {
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
}

main > * { margin-bottom: 3rem; }